.App {
  text-align: center;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
p {
  font-size: 1rem;
  font-family: "Arial Narrow";
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
h1 {
  font-size: 150%;
  color: yellow;
  text-shadow: 4px 4px white;
}

.App-header {
  background-color: #a7ccde;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.flex {
  display: flex;
}
.flex1 {
  flex: 1;
}
.flexDirRow {
  flex-direction: row;
}
.flexDirCol {
  flex-direction: column;
}
.contentCenterCenter {
  justify-content: center;
  align-items: center;
}
.contentLeftCenter {
  justify-content: flex-start;
  align-items: center;
}
.contentRightCenter {
  justify-content: flex-end;
  align-items: center;
}
.contentCenterTop {
  justify-content: center;
  align-items: flex-start;
}
.contentLeftTop {
  justify-content: flex-start;
  align-items: flex-start;
}
.contentRightTop {
  justify-content: flex-end;
  align-items: flex-start;
}
.contentCenterBottom {
  justify-content: center;
  align-items: flex-end;
}
.contentLeftBottom {
  justify-content: flex-start;
  align-items: flex-end;
}
.contentRightBottom {
  justify-content: flex-end;
  align-items: flex-end;
}
.mal {
  margin: 24px;
}
.mam {
  margin: 16px;
}
.mas {
  margin: 12px;
}
.maxs {
  margin: 8px;
}
.mtl {
  margin-top: 24px;
}
.mbl {
  margin-bottom: 24px;
}
.mll {
  margin-left: 24px;
}
.mrl {
  margin-right: 24px;
}
.mhl {
  margin-right: 24px;
  margin-left: 24px;
}
.mvl {
  margin-top: 24px;
  margin-left: 24px;
}
.mtm {
  margin-top: 16px;
}
.mbm {
  margin-bottom: 16px;
}
.mlm {
  margin-left: 16px;
}
.mrm {
  margin-right: 16px;
}
.mhm {
  margin-right: 16px;
  margin-left: 16px;
}
.mvm {
  margin-top: 16px;
  margin-left: 16px;
}
.mts {
  margin-top: 12px;
}
.mbs {
  margin-bottom: 12px;
}
.mls {
  margin-left: 12px;
}
.mrs {
  margin-right: 12px;
}
.mhs {
  margin-right: 12px;
  margin-left: 12px;
}
.mvs {
  margin-top: 12px;
  margin-left: 12px;
}
.mtxs {
  margin-top: 8px;
}
.mbxs {
  margin-bottom: 8px;
}
.mlxs {
  margin-left: 8px;
}
.mrxs {
  margin-right: 8px;
}
.mhxs {
  margin-right: 8px;
  margin-left: 8px;
}
.mvxs {
  margin-top: 8px;
  margin-left: 8px;
}
.pal {
  padding: 24px;
}
.pam {
  padding: 16px;
}
.pas {
  padding: 12px;
}
.paxs {
  padding: 8px;
}
.ptl {
  padding-top: 24px;
}
.pbl {
  padding-bottom: 24px;
}
.pll {
  padding-left: 24px;
}
.prl {
  padding-right: 24px;
}
.phl {
  padding-right: 24px;
  padding-left: 24px;
}
.pvl {
  padding-top: 24px;
  padding-left: 24px;
}
.ptm {
  padding-top: 16px;
}
.pbm {
  padding-bottom: 16px;
}
.plm {
  padding-left: 16px;
}
.prm {
  padding-right: 16px;
}
.phm {
  padding-right: 16px;
  padding-left: 16px;
}
.pvm {
  padding-top: 16px;
  padding-left: 16px;
}
.pts {
  padding-top: 12px;
}
.pbs {
  padding-bottom: 12px;
}
.pls {
  padding-left: 12px;
}
.prs {
  padding-right: 12px;
}
.phs {
  padding-right: 12px;
  padding-left: 12px;
}
.pvs {
  padding-top: 12px;
  padding-left: 12px;
}
.ptxs {
  padding-top: 8px;
}
.pbxs {
  padding-bottom: 8px;
}
.plxs {
  padding-left: 8px;
}
.prxs {
  padding-right: 8px;
}
.phxs {
  padding-right: 8px;
  padding-left: 8px;
}
.pvxs {
  padding-top: 8px;
  padding-left: 8px;
}
.black {
  background-color: black;
}
.white {
  background-color: white;
}
.red {
  background-color: red;
}
.blue {
  background-color: blue;
}
.colorBlack {
  color: black;
}
.colorWhite {
  color: white;
}
.colorBlue {
  color: blue;
}
.colorRed {
  color: red;
}
.color {
  color: yellow;
}
.h100 {
  height: 100%;
}
.w100 {
  width: 100%;
}
.h50 {
  height: 50%;
}
.w50 {
  width: 50%;
}
.vh50 {
  height: 50vh;
}
.vw50 {
  width: 50vw;
}
.vh100 {
  height: 100vh;
}
.vw100 {
  width: 100vw;
}
.square {
  width: 100px;
  height: 100px;
}
